service: product-service
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-1
  iam:
    role: arn:aws:iam::295974408458:role/DynamoDBLambdaAccessRole

plugins:
  - serverless-webpack
  - serverless-offline

package:
  individually: true
  patterns:
    - '!**/*.test.*'

functions:
  getProductsList:
    handler: ./src/handler.getProductsList
    events:
      - httpApi:
          path: /products
          method: get

  getProductsById:
    handler: ./src/handler.getProductsById
    events:
      - httpApi:
          path: /products/{id}
          method: get
